@font-face {
  font-family: "Roblox";
  src: url("../../public/polices/Roblox_Font_Black.otf") format("OpenType"),
    url("../../public/polices/Roblox_Font_Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../../public/polices/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roblox", Arial, sans-serif;
  margin: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contenuPage {
  flex: 1;
  margin-bottom: 15vh;
}
p {
  color: #fdf8e5;
  font-family: "Oswald", Arial, sans-serif;
  padding: 10px;
}
section {
  background: url("../../public/images/fond.png");
  margin-top: 1em;
}
section p {
  color: black;
}

h1 {
  font-size: 2.5em;
}

a {
  color: #fdf8e5;
  text-decoration: none;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  background-color: #a9f1ee;
  color: #006685;
}

form {
  padding: 10px;
}

form div {
  padding: 10px;
}
form div .error {
  padding: 0;
}

form label {
  padding: 10px;
}

button {
  color: #006685;
  background-color: #a9f1ee;
  font-weight: bold;
}

.center-button {
  margin: auto;
  display: block;
  width: 20vw;
}

.button_close {
  margin-bottom: 10px;
  background-color: #d0551c;
  color: #fdf8e5;
}

.success_message {
  color: #006685;
  font-weight: bold;
  font-size: 1.5em;
}

.blueText {
  color: #006685;
}
