/* Bannière */

#banniere_image {
  height: 45vh;
  width: 100%;
  max-width: 100vw;
  background: url("../../public/images/banière.png") no-repeat;
  background-size: cover;
  background-position: center bottom; /* Redimensionne l'image pour couvrir toute la boîte */
  position: relative;
  margin-bottom: 25px;
}
/* Section */

.homePage_title {
  border-top: 3px solid #006685;
  border-right: 3px solid #006685;
  border-left: 3px solid #006685;
  border-bottom: 3px solid #a9f1ee;
  z-index: 1;
  margin-bottom: -3px;
}

.article_homePage {
  width: 75vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.article {
  margin-top: 0;
  border: 3px solid #006685;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left {
  margin-left: 40px;
}

#planning {
  margin-left: auto;
}

.article_homePage.right {
  margin-left: auto;
  margin-right: 40px;
}

h2 {
  padding: 20px;
}

#explication h2 {
  position: relative;
  left: -20vw;
}

#planning h2 {
  position: relative;
  left: 20vw;
}

#actus h2 {
  position: relative;
  left: -10vw;
}

